.App {
  background-color: darkgrey;
  height: 100vh;
}

.task{
  font-weight: bold;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.input-error {
  border: 2px solid red;
  outline: none;
}
